@model GasPal.Models.LoginCode
@{
    Layout = "";

}

<html>
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Gas Pal</h1>
</body>
</html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scake=1.0" />
    <title>Login</title>
    <style>
        .login {
            margin: auto;
            max-width: 350px;
            padding: 10px;
            border-radius: 4px;
        }

        h1 {
            text-align: center;
        }

        input[type=text] {
            display: inline-block;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 4px;
            border: .5px solid;
            margin: 10px 0;
        }

        input[type=submit] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }

        input[type=href] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 4px;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
</head>

<form>
    <label id="email" asp-for="Email">Email:</label><br>
    <input type="text" id="email" asp-for="Email" name="email"><br>
    <span asp-validation-for="Email" class="text-danger"></span>
    <label id="password" asp-for="Password">Password:</label><br>
    <input type="text" id="password" asp-for="Password" name="password"><br />
    <span asp-validation-for="Password" class="text-danger"></span>
    <button type="submit" value="Login" onclick="location.href='@Url.Action("Login", "Login")'">Login</button>
</form>
<a class="nav-link text-dark" asp-area="" asp-controller="CreateAccount" asp-action="CreateAccount">Don't have an account?</a>
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Continue as guest</a>

