@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gas Pal</h1>
</div>
<style>
    text {
        text-align: center;
    }
</style>


<body>
    <div class="container">
        <div id="content">
            <form class='form-inline'>
                <div class="input-group">
                    <input type='text' id='search' class="form-control search-form" placeholder="Search for stations...">
                    <span class="input-group-btn" style="width:39px">
                        <button id="search-this" type="button" class="pull-right btn btn-default search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</body>
<style>
    p {
        text-align: center;
    }

    label {
        text-align: center;
    }
</style>
<p>
    The current cheapest gas based on your location is: Irving Oil<br />
</p>

<p>
    Gas prices are as followed:<br />
    87: $3.94 <br />
    89: $4.39 <br />
    93: $4.86 <br />
    Diesel: $5.99 <br />
</p>

<label for="amenities">Amenities Include:</label>

<select name="amenities" id="amenities">
    <option value="convenienceStore">Convenience Store</option>
    <option value="restroom">Restroom</option>
    <option value="dunkins">Dunkin Donuts</option>
    <option value="carwash">Car Wash</option>
</select>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1458.3097486772724!2d-71.44034511630554!3d43.02839556859592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e2458582d3c4bd%3A0x1144a45151c43774!2sIrving%20Oil!5e0!3m2!1sen!2sus!4v1670969070135!5m2!1sen!2sus" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>




